body {
  text-align: center;
  font-family: helvetica;
}

p {
  font-size: 14px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header {
  background-image: url('C:/Users/Tsands/Documents/Projects/Broadway/resources/images/icons/the-flatiron-building.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.designed {
  font-weight: bold;
  color: white;
  font-size: 23px;
  background-image: url('C:/Users/Tsands/Documents/Projects/Broadway/resources/images/icons/the-flatiron-building.png');
}

a {
  font-size: 18px;
  color: white;
}
